{% extends 'blog/base.html' %}


{% block titulo %}
Editar artículo
{% endblock %}


{% block contenido %}

    <h1>
        Editar artículo
    </h1>

    <hr>


    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}


        <button type="submit"
                class="btn btn-warning">

            Guardar cambios

        </button>


        <a href="{% url 'detalle' articulo.pk %}"
           class="btn btn-secondary">

            Cancelar

        </a>

    </form>

{% endblock %}